html{
  background-color: #f2f1ed;
  font-family: Georgia, serif;
}
img{
  width: 100%;
}
h1, h2, h3{
  color: #5d8432;
  text-transform: uppercase;
}
p{
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}
a{
  color: #793284;
  text-decoration: none;
  list-style-type: none;
}
a:hover{
  color: #b42885;
}
